<div class="example-container"  fxLayout="column" fxLayoutAlign="space-evenly none" >
  <form [formGroup]="newQuestion" (ngSubmit)="onSubmit()">
      <mat-list role="list">
          <mat-list-item>
              <div>Question Type:
              <mat-form-field [floatLabel]="newQuestion.value.floatLabel" appearance="outline">
                  <mat-select required formControlName="questionType">
                    <mat-option value="VA">VA</mat-option>
                    <mat-option value="QA">QA</mat-option>
                    <mat-option value="LR">LR</mat-option>
                    <mat-option value="DI">DI</mat-option>
                  </mat-select>
                  <mat-label>
                    Select
                  </mat-label>
                </mat-form-field>
              </div>
          </mat-list-item>
          <mat-list-item>
              <div>Difficulty Level:
              <mat-form-field [floatLabel]="newQuestion.value.floatLabel" appearance="outline">
                  <mat-select required formControlName="difficultyLevel">
                    <mat-option value="Easy">Easy</mat-option>
                    <mat-option value="Medium">Medium</mat-option>
                    <mat-option value="Hard">Hard</mat-option>
                  </mat-select>
                  <mat-label>
                    Select
                  </mat-label>
                </mat-form-field>
              </div>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox formControlName="isPublic">Is Public</mat-checkbox>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <div class="list-item">Enter the question here:
                <quill-editor [modules]="quillConfig" class="quillEditor" formControlName="question"></quill-editor>
              </div>
        </mat-list-item>
          <mat-list-item  *ngIf="listOptions.length==0">
            <button (click)="addOption(-1)" mat-flat-button color="primary">Add option</button>
        </mat-list-item>
          <mat-list-item formArrayName="options"  *ngFor="let option of options.controls;let i = index">
            <div class="list-item" [formGroup]="options.at(i)">
                Enter the option here:
                <mat-checkbox formControlName = "isCorrect"></mat-checkbox>
                <quill-editor [modules]="quillConfig"  class="quillEditor"  formControlName="body"></quill-editor>
                <button (click)="addOption(i)" mat-mini-fab color="primary">+</button>
                <button (click)="removeOption(i)" mat-mini-fab color="accent">-</button>
            </div>

        </mat-list-item>
        <mat-list-item>
            <div class="list-item">Enter the explanation here:
                <quill-editor [modules]="quillConfig"  class="quillEditor" formControlName="explanation"></quill-editor>
              </div>
        </mat-list-item>
        <mat-list-item>
          <button mat-flat-button color="primary" type="submit" [disabled]="!newQuestion.valid">Save</button>
        </mat-list-item>
    </mat-list>
  </form>
  <p>
    Form Value: {{ newQuestion.value |json }}
  </p>
  <p>
    Form Status: {{ newQuestion.status }}
  </p>
</div>
