<div class="example-container">
  <!-- <form [formGroup]="newQuestion"> -->
      <mat-grid-list cols="2" rowHeight="80px" >
          <mat-grid-tile>
              <div class="mat-label">Question Type</div>
              <mat-form-field [floatLabel]="newQuestion.value.floatLabel" appearance="outline">
                  <mat-select required>
                    <mat-option value="option">VA</mat-option>
                    <mat-option value="option">QA</mat-option>
                    <mat-option value="option">LR</mat-option>
                    <mat-option value="option">DI</mat-option>
                  </mat-select>
                  <mat-label>
                    Select
                  </mat-label>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-checkbox>Is Public</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="mat-label">Difficulty Level</div>
              <mat-form-field [floatLabel]="newQuestion.value.floatLabel" appearance="outline">
                  <mat-select required>
                    <mat-option value="option">Easy</mat-option>
                    <mat-option value="option">Medium</mat-option>
                    <mat-option value="option">Hard</mat-option>
                  </mat-select>
                  <mat-label>
                    Select
                  </mat-label>
                </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
          </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="300px" >
        <mat-grid-tile>
            <div class="mat-label">Enter the question here:</div>
                <quill-editor class="quillEditor"></quill-editor>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="listOptions.length==0">
            <div class="mat-label">Multi choice question?</div>
            <button (click)="addOption(0)" mat-flat-button color="primary">Add option</button>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let option of listOptions;let i = index">
            <div class="mat-label">Enter the option here:</div>
                <mat-checkbox [(ngModel)] = "option.IsCorrectAnswer"></mat-checkbox>
                <quill-editor class="quillEditor"  [(ngModel)] = "option.Body"></quill-editor>
                <button (click)="addOption(i)" mat-mini-fab color="primary">+</button>
                <button (click)="removeOption(i)" mat-mini-fab color="accent">-</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="mat-label">Enter the explanation here:</div>
                <quill-editor class="quillEditor"></quill-editor>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="mat-label"></div>
          <button mat-raised-button color="primary">Save</button>
        </mat-grid-tile>
    </mat-grid-list>
  <!-- </form> -->
</div>
