<div class="example-container"  fxLayout="column" fxLayoutAlign="space-evenly none" >
  <!-- <form [formGroup]="newQuestion"> -->
      <mat-list role="list">
          <mat-list-item>
              <div class="mat-label">Question Type</div>
              <mat-form-field [floatLabel]="newQuestion.value.floatLabel" appearance="outline">
                  <mat-select required>
                    <mat-option value="option">VA</mat-option>
                    <mat-option value="option">QA</mat-option>
                    <mat-option value="option">LR</mat-option>
                    <mat-option value="option">DI</mat-option>
                  </mat-select>
                  <mat-label>
                    Select
                  </mat-label>
                </mat-form-field>
          </mat-list-item>
          <mat-list-item>
              <div class="mat-label">Difficulty Level</div>
              <mat-form-field [floatLabel]="newQuestion.value.floatLabel" appearance="outline">
                  <mat-select required>
                    <mat-option value="option">Easy</mat-option>
                    <mat-option value="option">Medium</mat-option>
                    <mat-option value="option">Hard</mat-option>
                  </mat-select>
                  <mat-label>
                    Select
                  </mat-label>
                </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox>Is Public</mat-checkbox>
        </mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <div class="list-item">Enter the question here:
                <quill-editor class="quillEditor"></quill-editor>
              </div>
        </mat-list-item>
          <mat-list-item  *ngIf="listOptions.length==0">
            <button (click)="addOption(-1)" mat-flat-button color="primary">Add option</button>
        </mat-list-item>
          <mat-list-item  *ngFor="let option of listOptions;let i = index">
            <div class="list-item">
                Enter the option here:
                <mat-checkbox [(ngModel)] = "option.IsCorrectAnswer"></mat-checkbox>
                <quill-editor class="quillEditor"  [(ngModel)] = "option.Body"></quill-editor>
                <button (click)="addOption(i)" mat-mini-fab color="primary">+</button>
                <button (click)="removeOption(i)" mat-mini-fab color="accent">-</button>
            </div>

        </mat-list-item>
        <mat-list-item>
            <div class="class="list-item>Enter the explanation here:
                <quill-editor class="quillEditor"></quill-editor>
              </div>
        </mat-list-item>
        <mat-list-item>
          <button mat-flat-button color="primary">Save</button>
        </mat-list-item>
    </mat-list>
  <!-- </form> -->
</div>
