/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* for sidenav to take a whole page */
html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

h1{
  font-weight: 300;
  margin: 0;
  padding: 28px 18px;
  font-size: 35px;
  color: #fff;
  background: #3f51b5;
}

.component-body{
  border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 20px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
